NODE_ENV=development
PORT=3001
CLIENT_URL=http://localhost:5173
DB_PATH=../data/pairs.db
APP_DB_PATH=../app.db
HIGHERLOWER_PATH=../data/higherlower_articles.json
CLERK_SECRET_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRO_PRICE_ID=
